/* #6DE103 */

body {
	background-color: #111;
}

header {
	background-color:#222;
	color:#CCC;
	line-height: 1.6em;
	text-shadow: 1px 1px #000;
	padding:30px 0px 40px 0px;
}

header  h1 {
	color:#FFF;
}

header h3 {

}

header .hero .actions button {
	margin: 20px 15px 0px 0px;
}

#deps, #launch {
	background-color: #FFF;
}

#menu {
	min-height:60px;
	background-color: #111;
}

.block {
	width:100%;
}

.row {
	width:960px;
	margin:auto;
}

#features {
	background-color: #EEE;
	padding: 30px 0 50px 0;
}

#features h2 {
	margin-bottom: 30px;
	text-align: center;
}

#features .feature {
	margin: 0;
	margin-right: 40px;
	width: 210px;
}

#features .feature:last-child {
	margin-right: 0;
}

#features .feature h4 {
	color: #6DE103;
	font-weight: normal;
	margin-top: 0;
}

#features .feature p {
	margin: 0;
	padding-right: 15px;
}

#partners-in-crime {
	padding: 30px 0 50px 0;
}

#partners-in-crime h2 {
	margin-bottom: 30px;
	text-align: center;
}

#partners-in-crime .partners {
	margin: 0;
}

#partners-in-crime .partners p {
	color: #6DE103;
}

#partners-in-crime .partners .logos {
	margin: 0;
}

#partners-in-crime .partners .logos li {
	display: inline;
	margin-right: 55px;
}

footer {
	background-color: #111;
	border-top: 5px solid #6DE103;
	padding: 15px 0;
	text-align: center;
}

footer .info {
	color: #666;
	font-size: 12px;
	margin: 0;
}

footer .info li {
	display: inline;
	margin-right: 55px;
}

footer .info li .project-name {
	color: #FFF;
	display: inline;
	font-weight: normal;
}